Header always set Access-Control-Allow-Origin "*"
Header set Access-Control-Allow-Headers "Authorization"
DirectoryIndex README.md
RewriteEngine On
RewriteRule ^plugins/(.*)$ https://%{HTTP_HOST}/v3/plugins/$1 [R=301,NC,L]
RewriteRule ^resources/(.*)$ https://%{HTTP_HOST}/v3/resources/$1 [R=301,NC,L]
<FilesMatch "\.(json|yaml)$">
    <IfModule mod_expires.c>
	ExpiresActive Off
    </IfModule>
    <IfModule mod_headers.c>
	FileETag None
	Header unset ETag
	Header unset Pragma
	Header unset Cache-Control
	Header unset Last-Modified
	Header set Pragma "no-cache"
	Header set Cache-Control "max-age=0, no-cache, no-store, must-revalidate"
	Header set Expires "Mon, 10 Apr 1972 00:00:00 GMT"
    </IfModule>
</FilesMatch>
